@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Oswald:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	overflow-x: hidden;
}

.container {
	display: flex;
	width: 100vw;
}

.logo-side {
	width: 35vw;
	height: 100vh;
	background-image: url(assets/img/bg-image.jpg);
	background-size: cover;
	box-shadow: 7px 2px 20px 5px #0000008a;
	z-index: 2;
	position: relative;
}

.logo {
	background-color: rgba(0, 0, 0, 0.568);
	margin-top: 20%;
	display: flex;
	padding: 1.5rem 1rem;
	justify-content: end;
	gap: 0.7%;
}

.logo-icon {
	width: 8%;
	height: 8%;
}

.logo-text {
	color: #c0c0c0;
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: 0.1rem;
}

.warning {
	margin: 10% 6% 6% 6%;
}
.sign-up-side {
	width: 65vw;
	height: 100vh;
	background-color: #f1f1f1;
}

label {
	display: block;
	color: #a0a0a0;
}

.white_wrapper {
	background-color: #fff;
	width: 87%;
	padding: 3% 6%;
	box-shadow: 1px 5px 28px -8px rgba(0, 0, 0, 0.64);
}

.inputs-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 65%;
}

input {
	width: 80%;
}

input:focus {
	outline: none;
	border: 1px solid grey;
	box-shadow: 0 0 10px #719ece;
}

.inp {
	padding: 1%;
}

.submitBtn {
	margin-top: 2rem;
}

.submitBtn {
	color: rgb(255, 255, 255);
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 0.1rem;
	padding: 1% 4%;
	border-radius: 4px;
	background-color: #757575;
	border: transparent;
	margin: 4% 0 2% 6.5%;
	cursor: pointer;
}
.submitBtn:hover {
	background: #a4a4a4;
}
.submitBtn:active {
	background: #757575;
}

.haveAcc {
	margin: 0 4% 4% 6.5%;
}

.haveAcc span {
	color: #757575;
}

.author {
	color: #fff;
	font-size: 0.8rem;
	position: absolute;
	bottom: 1rem;
	left: 35%;
}

.author a {
	color: #fff;
}
